<div>
    <label for="title">
        Title
    </label>
    <input type="text" name="title" ng-model="$ctrl.task.title">
</div>


<div>
    <label for="content">
        Description
    </label>
    <textarea name="content" id="" cols="30" rows="10" ng-model="$ctrl.task.content"></textarea>
</div>


<div>
    <label for="completed">
        {{$ctrl.task.completed ? "Complete" : "Incomplete"}}
    </label>
    <input type="checkbox" name="completed" ng-model="$ctrl.task.completed">
</div>

<div>
    <button ng-click="$ctrl.save();">
        {{$ctrl.saving ? "Saving" : "Create"}}
    </button>
</div>