<form>
    <div class="fieldSet">
        <label>Username:</label>
        <input type="text" ng-model="$ctrl.username">
    </div>
    <div class="fieldSet">
        <label>Password:</label>
        <input type="password" ng-model="$ctrl.password">
    </div>
    <button ng-click="$ctrl.submit()">Submit</button>
</form>