<a ui-sref="anon" ui-sref-active="active">Home</a>
<a ui-sref="anon.register" ui-sref-active="active">Register</a>
<a ui-sref="anon.login" ui-sref-active="active">Login</a>
<span>Hello, {{$ctrl.subject}}</span>
<div ui-view></div>