<form>
    <div class="fieldSet" ng-repeat="property in $ctrl.properties">
        <label>{{property.label}}</label>
        <input name="{{property.key}}" type="{{property.type}}" ng-model="property.input">
    </div>
    <button ng-click="$ctrl.submit()">Submit</button>
</form>