<div class="links">
    <a ui-sref="tasks" ui-sref-active="active">All Tasks!</a>
    <a href="#" ng-click="$ctrl.logout();">Log Out</a>
</div>
<div class="tasks-main">
    <div class="tasks-list">
        <p>This is where the list of tasks will go!</p>
        <a ui-sref="tasks.create">New Task</a>
        <div class="task" ng-repeat="task in $ctrl.taskList.data">
            <a ui-sref="tasks.edit({taskId : task.id })">{{task.title}}</a>
        </div>
    </div>
    <div class="task-container">
        <p>This is where the task itself should go!</p>
        <div ui-view>

        </div>
    </div>
</div>

